body {
	font: 12px/1.7 -apple-system-font, HelveticaNeue-Light, "Helvetica Neue", Helvetica, sans-serif;
	color: #004c6d;
	margin: 0 90px 50px;
	background-color: #ffffff;
	padding-top: 0;
}

h1, h2, h3, h4 {
	color: #22a544;
	font-size: 2.0em;
	margin-bottom: 20px;
	margin-top: 10px;
	line-height: 100%;
}

h1, h2, h3, h4, p, ul, hr {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}

a {
	color: #5e5d7f;
	font-weight: bold;
}